<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./css/style.css">
  <title>Document</title>
</head>

<body>
  <form action="/posts" method="POST">
    <div>
      <label>타이틀</label>
      <input type="text" name="title" />
    </div>
    <div>
      <label>내용</label>
      <input type="text" name="content" />
    </div>
    <button type="submit">Submit</button>
  </form>
  <h1>회원 목록</h1>
  <h2>
    총 회원 수 <%= contentCounts %>
  </h2>
  <ul>
    <% if(contentCounts> 0) { %>
    <% for(let i=0; i < contentCounts; i++) { %>
    <li>
      <p>타이틀: <%= POST[i].title %>
      </p>
      <p>내용: <%= POST[i].content %>
      </p>
      <a href="" onclick="deletePost('<%= POST[i].title %>');">삭제</a>
    </li>
    <% } %>
    <% } else { %>
    <li>
      회원 정보가 없습니다!
    </li>
    <% } %>
  </ul>
</body>
<script>
  function deletePost(title) {
    fetch(`http://localhost:4000/posts/${title}`, {
      method: 'delete',
      headers: {
        'Content-type': 'application/json'
      },
    }).then((res) => {
      console.log(res);
      location.reload();
    })
  }
</script>

</html>